body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

svg {
  font: 10px sans-serif;
}

.container {
  margin-top: 30px;
}

.line-pos {
  fill: none;
  stroke: #76ad44;
  stroke-width: 1.5px;
}

.line-neg {
  fill: none;
  stroke: #ff0000;
  stroke-width: 1.5px;
}

.next_line {
  display: block;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.headshot {
  float: left;
  margin-left: 10%;
}

.img-circle {
  border-radius: 50%;
}
.key_start {
  display: block;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.key_end {
  display: block;
  font-size: 12px;
}

h1, h2, h3 {
  letter-spacing: 0;
}

h2 {
  font-size: 18px;
  letter-spacing: 0;
}

h3 {
  font-size: 16px;
}

h4 {
  text-align: left;
  padding: 19px 0 0 135px;
}

footer {
  margin: 30px 0 10px 0;
}

a {
  color: #696969;
}

a:hover {
  color: green;
}
